/* src/pages/About.css */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .about-container {
        padding: 10px;
    }
}